# Development / test dependencies
pytest==8.4.1
pyflakes==3.1.0
flake8==6.1.0
# pin a released black version available on PyPI
# 24.7.0 is not available; use 24.8.0 which is present in PyPI index
black==24.8.0
mypy==1.9.0
